.blockFilter {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form {
    display: flex;
    gap: 30px;
}

.input {
    margin-left: 10px;
    height: 30px;
}

.button {
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    border: none;
    font-weight: 700;
}

@media (max-width: 480px) {

    .blockFilter {
        padding: 0 15px;
    }

    .form {
        gap: 0;
        flex-wrap: wrap;
    }

    .input {
        margin-top: 25px;
    }

    .button {
        margin-left: 50px;
    }

}