.eventsPage {
    margin: 0 auto;
    max-width: 1280px;
  }
  

  .block {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 50px;
  }

  .form {
    display: flex;
    gap: 30px;
  }

  .button {
    width: 120px;
    background-color: #007bff;
    color: #fff;
    font-weight: 700;
    font-size: 15px;
    height: 35px;
  }

  .input {
    height: 30px;
    width: 250px;
    margin-left: 10px;
  }

  
 